* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: grey; 
}

.container {
    display: flex;
    background-color: grey;
    border: 1px groove black;
    margin: 200px 200px 200px 200px;
    border-radius: 5px;
    justify-content: center;
}
