* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: grey; 
}

.container {
    position: fixed;
    background-color: grey;
    border: 1px groove black;
    height: 350px;
    width: 1000px;
    top: 25%;
    left: 25%;
    border-radius: 5px;
}

.container h2 {
    display: flex;
    justify-content: center;
}

.container form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.container h3 {
    display: flex;
    justify-content: center;
}

.container .score-and-count {
    display: flex;
    justify-content: space-between;
    margin: 25px 50px 25px;
    
}

form .submit {
    display: none;
  }



/*


.intro-box .counter {
    position: absolute;

}*/